.metadata
pcgen.deps
pcgen.smalldeps
pcgenviewer/log.txt
pcgenviewer/assets/datafiles.zip
pcgenviewer/assets/pluginclasses.properties
pcgenviewer/bin
pcgenviewer/gen
pcgenviewer/libs/allplugins.jar
pcgenviewertest/bin
*~
