<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.chrisdolan.pcgen.viewer"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:allowBackup="true">
        <activity
            android:name=".CharacterListActivity"
            android:label="@string/title_character_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.chrisdolan.pcgen.viewer.top" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CharacterDetailActivity"
            android:label="@string/title_character_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CharacterListActivity" />
        </activity>
    </application>

</manifest>